<!DOCTYPE html>
<html>
<head>
  <title>My Web App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('main.home') }}">Home</a></li>
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('profile.profile') }}">Profile</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}
  {% endblock %}
</body>
</html> 
